.navbar{
    width: 100%;
    height: auto;
    padding: 20px 15px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 255, 0.201);
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px 5px rgb(0 0 0 /0.1);
}

.menubar {
    display: flex;
    gap: 16px;
    align-items: center;
  }