.navbar{
    width: 100%;
    height: auto;
    padding: 20px 15px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.043);
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px 5px rgb(0 0 0 /0.1);
}

.menubar {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .login {
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    color: black;
    text-decoration: none;
    padding: 8px 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 6px;
  }

  .login:hover{
    background-color: grey;
    font-weight: 700;
  }

  .inactive {
    text-decoration: none;
  }
  
  .active {
    color: rgb(7, 0, 93);
    font-weight: bold;
    text-decoration: underline red 3px;
  }